<!-- Default Statcounter code for Ham Radio
http://hl5ky.githug.io -->
<script type="text/javascript">
    var sc_project=13176184; 
    var sc_invisible=0; 
    var sc_security="4b01b11b"; 
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="web statistics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/13176184/0/4b01b11b/0/"
    alt="web statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
    