<!-- StatCounter: HL5KY & HL5BTF -->
<div id="sc-wrap"
     style="position:fixed;right:15px;bottom:10px;z-index:9999;opacity:0.7;line-height:0;margin:0;padding:0;border:0;">
  <script type="text/javascript">
    var sc_project=13176184;
    var sc_invisible=0;
    var sc_security="4b01b11b";
    var scJsHost="https://";
    document.write("<sc"+"ript type='text/javascript' src='"+scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript>
    <a href="https://statcounter.com/" target="_blank" title="Web Analytics" style="line-height:0;margin:0;padding:0;">
      <img src="https://c.statcounter.com/13176184/0/4b01b11b/0/"
           alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade"
           style="border:0;display:inline-block;line-height:0;margin:0;padding:0;">
    </a>
  </noscript>
</div>
<!-- End StatCounter -->
